page-menugerai {
    ion-label {
        margin: 2px !important;
    }
    
    .card-md {
        margin-bottom: 13px !important;
    }
    
    .item-md ion-thumbnail[item-start] {
        margin-right: 6px !important;
    }
    
    .item-md {
        padding-left: 13px !important;
    }
    
    .scroll-content {
        background-color: #f3f3f3;
    }
    
    // ion-icon {
    //     font-size: 1.2em !important;
    // }
}